.accessModelCard {
    border-radius: var(--mantine-radius-md);
}

.segmentedControl {
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-6)
    );
}

.selectInput {
    font-weight: 500;
    text-align: right;
}
